body {
  font-family: 'Source Code Pro', monospace;
  background-color: #091b09;
  color: #49fb35;
}

.code {
  background-color: #091b09;
  color: #49fb35;
}

.code2 {
  background-color: #0c250c;
}

.code-btn {
  background-color: #091b09;
  color: #49fb35;
  outline: #49fb35;
  box-shadow: 0 0 5px #49fb35;
}

.code-card-btn {
  background-color: #091b09;
  color: #49fb35;
  outline: #49fb35;
  box-shadow: 0 0 5px #49fb35;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  font-size: 90%;
}

.code-btn:hover {
  background-color: #49fb35;
  color: #091b09;
}

.code-card-btn:hover {
  background-color: #49fb35;
  color: #091b09;
}

.code-btn:focus {
  box-shadow: 0 0 5px 5px #49fb35;
}

.code-card-btn:focus {
  box-shadow: 0 0 5px 5px #49fb35;
}

.accordion-button:not(.collapsed) {
  color: #091b09;
  background-color: #49fb35;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2349fb35'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23091b09'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2873, 251, 53, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  color: rgba(73, 251, 53, 0.55);
  border-color: rgba(73, 251, 53, 0.55);
}

.accordion-item {
  background-color: #091b09;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
  border-color: #49fb35;
}

.code-link {
  background-color: #091b09;
  color: #49fb35;
}

.code-link:hover {
  color: blue;
}

.navbar-dark .navbar-brand {
  color: #49fb35;
}

.nav-item:hover {
  color: #49fb35;
}

a:hover {
  text-decoration: none;
  color: #49fb35;
}

a:focus {
  text-decoration: none;
  color: #49fb35;
}

a:link {
  text-decoration: none;
  color: #49fb35;
}

a:active {
  text-decoration: none;
  color: #49fb35;
}
